TOKEN.txt
/.vs
.vs
/AntaresBot/.vs/AntaresBot
/AntaresBot/obj/Debug/netcoreapp2.1
/.vs/AntaresBot
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/Antaresbotuwu/FileContentIndex/885ec1f7-44b0-453b-ba37-e14bb5a1748c.vsidx
